@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #7f16ff;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #a855f7;
}
